<!-- Logo -->
<div class="logo">
  <div>
    <a href="/home" class="log"><img src="../assets/bus-school.png" alt="" height="20px">FestBus</a>

  </div>
</div>
 
 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Brand and Hamburger -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="/home">
            <i class="bi bi-house-door"></i>
            Home
          </a>
        </li>
        <!-- Search -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="/search">
            <i class="bi bi-heart"></i>
            Search
          </a>
        </li>
        <!-- Buses -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="/buses">
            <i class="bi bi-eye-slash"></i>
            Buses
          </a>
        </li>
        <!-- Route -->
        <li class="nav-item">
          <a class="nav-link d-flex flex-column align-items-center" href="/route">
            <i class="bi bi-share"></i>
            Route
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>